<div class="d-flex align-items-center px-3 py-2 shadow-sm">
    <div>
        <a routerLink="home" routerLinkActive="text-white bg-primary"
            class="text-dark font-size-14 fw-bold text-decoration-none py-2 px-3 rounded-1">Home</a>
    </div>
    <div>
        <a routerLink="view" routerLinkActive="text-white bg-primary"
            class="text-dark font-size-14 fw-bold text-decoration-none py-2 px-3 rounded-1">View</a>
    </div>
    <div>
        <a routerLink="about" routerLinkActive="text-white bg-primary"
            class="text-dark font-size-14 fw-bold text-decoration-none py-2 px-3 rounded-1">About</a>
    </div>
</div>