/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import '~bootstrap/scss/bootstrap';

* {

    font-family: 'Roboto', sans-serif;
}

$size-list: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 38 39 40 42 46 47 48 50 52 55 60 72 75;

@each $value in $size-list {
    .font-size-#{$value} {
        font-size: rfs-value($value + px) !important;
    }
}